<ul class="nav justify-content-end">
    <li class="nav-item">
        <a class="nav-link disabled" href="#">Database</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Education</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">News</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" aria-current="page" href="#">Regulation</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Hoax Buster</a>
    </li>
  </ul>
